#bio{
  margin-top: 100px;
}
.bio-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 40rem !important;
  height: 105px !important;
}

.bio-text{
  padding-right: 30px;
}
.bio-text h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}


.bio-text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: white;

}

.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

