:root{
  --bg-gray: #202023;
  --light-gray: #313134;
  --light-blue: #81e6d9;
  --purple: rgb(255, 99, 195);
}

html{
  font-size: 62.5%;
}

*{
  background-color: var(--bg-gray) !important;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 40rem !important;
  height: 10rem !important;
}

.main-container-2{
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 40rem !important;
  /* height: 10rem !important; */
}

.main-container-3{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 45rem !important;
}


/* Hover en purpura del texto */
.ds__hover-purple{
  text-decoration: none;
  color: white;
  font-size: 15px;
  line-height: 1.2;
}

.ds__hover-purple:hover{
  color: var(--light-blue);
  text-decoration: underline;
  text-decoration-color: rgb(255, 99, 195) ;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
