.main-colum{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#navbar a{
  font-weight: 400;
  font-size: 15px;
}

.nav-item-focus a{
  color: var(--light-blue);
}

.nav-item a:hover{
  color: var(--light-blue);
}

.nav-item{
  padding-left: 15px;
}

