.main-colum{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#navbar a{
  font-weight: 400;
  font-size: 20px;
}

.dropdown-item a:hover{
  color: white;
}

.nav-item{
  padding-left: 15px;
}

