/* .project{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px !important;  
}

.project img{
  margin-top: 10px;
  width: 225px;
  height: 145px;
  border-radius: 5px;
}

.project h2{
  font-size: 16px !important;
}

.project-container{
  display: flex;  
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
}

.project p{
  font-size: 12px;
  margin-top: 0px !important;
} */



.card {
  border: none !important;
  border-radius: 10px;
}
.card img {
  border-radius: 10px;
}
.card h5{
  color: white;
  font-size: 20px;
}
.card p {
  color: white;
  font-size: 15px;

}