.ds__socials img {
  width: 25px;
  height: 25px;
}

.ds__socials a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  line-height: 1.2;
}
.ds__socials a:hover {
  color: var(--light-blue);
  text-decoration: underline;
  text-decoration-color: rgb(255, 99, 195) ;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;

}

.icon{
  margin-left: 10px;
  margin-right: 10px;
}



